* {
  margin: 0;
  padding: 0;
}

/* Selects any <a> element when "hovered" */
#navbar a:hover {
  color: #dc4128;
  background-color: #f1ead4;
  transition: backgrond-color, 0.4s;
  
  
}

/* Selects any <a> element when "hovered" */
a:hover {
  color: #dc4128;
  transition: color, 0.4s;

}

#navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #0e4831;
  position: fixed;
  z-index: 10;
}

.nav-list {
  display: flex;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  filter: drop-shadow(0.5mm 1mm 0.6mm #745148);
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  text-decoration: none;
  border-bottom: 2rem, #0e4831;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f1ead4;
  font-size: 4rem;
  background-image: linear-gradient(0deg, #74514880 0%, #f1ead4 40%);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #dc4128;
  margin-bottom: 1rem;
  filter: drop-shadow(0.5mm 1.3mm 0.4mm #745148);
}

h3 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #7caf88;
  filter: drop-shadow(0.5mm 0.6mm 0.2mm #745148);
}

h2 {
  display: block;
  font-size: 2.5rem;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1ead4;
  background-color: #0e4831;
}
div {
    background-color: #dc4128; 
    color: #dc4128; 
}

#project-list {
  display: flex;
  justify-content: space-evenly;
  background-color: #0e4831;
}


.project-image {
  max-height: 350px;
  border: solid;
  border-image: linear-gradient(#0e4831, #7caf88) .5;
}

figure {
  text-align: center;
}

figcaption {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5f0101;
  font: 1rem "Roboto", sans-serif;
  background-color: #7caf88;
  position: relative;
  bottom: 20px;
  height: 40px;
  max-width: 200;
  margin-bottom: 80;
}

#contact {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0e4831;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

a {
  font: 1rem "Roboto", sans-serif;
  color: #f1ead4;
  text-decoration: none;
}

#contact a {
  margin: 1rem;
  filter: drop-shadow(0.5mm 0.4mm 0.3mm #745148);
}

i {
  font-size: 2rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font: 1rem "Roboto", sans-serif;
  font-style: normal;
  height: 4rem;
  background-color: #dc4128;
  color: #f1ead4;
  text-align: center;
  display: flex;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 75%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 50%;
  }
}
