
#thumbnails {
    display: flex;
    justify-content: space-evenly;
    background-color: #0e4831;
  }
  
  .project-image {
    max-height: 350px;
    
  }
  
  figure {
    text-align: center;
  }
  
  figcaption {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #5f0101;
    font: 1rem "Roboto", sans-serif;
    background-color: #7caf88;
    position: relative;
    bottom: 20px;
    height: 40px;
    max-width: 200;
    margin-bottom: 80;
  }