:root {
box-sizing: border-box;
background-color: #101010;
}

header {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #285a9f;
  font-family: "Libre Franklin";
  margin-top: 2rem;
  margin-bottom: 1rem;
}

body {
  background-color: #101010;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #285a9f;
  font-weight: bold;
  font-variant: small-caps;
}


a> img {
  height: 18rem;
  margin: 4px;
  margin-bottom: 10px;
  border-radius: 5px 70px 20px 20px;
  border: solid 4px #285a9f;
}


.nav {
  display: flex;
  justify-content: center;
}

button {
  height: 3rem;
  font-size: larger;
  background-color: #7b8da5;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
  font-weight: 600;
  padding-top: 8px;
  margin-bottom: 2rem;
  border: solid 2px #285a9f;
}

#maleButton {
  border-radius: 35px 0px 0px 5px;
}

#otherButton {
  border-radius: 0px 35px 5px 0px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}