:root {
    box-sizing: border-box;
}

.scalp {
    margin-top: 20px;
    margin-bottom: 20px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #285a9f;
    font-family: "Libre Franklin";
}

h1 {
 margin: 20px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #101010;
    color: #285a9f;
    font-weight: bold;
    font-variant: small-caps;
}

body {
    background-color: #101010;
}


/* v error message v */
.image img {
    border-radius: 10px;
    border: solid 6px;
    margin-top: 12rem;
}
.card {
    border-radius: 10px;
    background-color: #101010;
    color: #27a1e3;
}
/* ^ error message ^ */

.container {
    display: flex;
    justify-content: space-between;
    background-color: #101010;
}

img {
    border-radius: 10px;
    margin-top: 12rem;
    border: solid 4px #285a9f;
    font-family: "Libre Franklin";
    
}

.nav {
    display: flex;
    align-self: flex-start;
    border: solid 4px #285a9f;
    padding: 10px 30px 10px 30px;
    background-color: #e5e9f2;
    border-radius: 10px;
    font-family: "Libre Franklin";
    font-weight: bold;
}

.navEffects {
    
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

li {
    list-style-type: none;
    background-color: #e5e9f2; 
    color: #285a9f;
    font-variant: small-caps;
    
}


