:root {
box-sizing: border-box;
background-color: #101010;
}

header {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #285a9f;
  
  font-family: "Libre Franklin";
}

footer {
  display: flex;
  justify-content: center;
  background-color: #101010;
  color: #285a9f;
  font-weight: bold;
  font-variant: small-caps;
}

body {
  background-color: #101010;
}


a> img {
  height: 18rem;
  margin: 4px;
  border-radius: 5px 70px 20px 20px;
  border: solid 4px #285a9f;
}

#nav {
  display: flex;
  justify-content: center;
}

button:hover {
  color: #e5e9f2;
  background-color: #27a1e3;
  border: solid 2px  #fafafa;
  transition: background-color, 0.4s;
  z-index: 6;
}

button {
  height: 3rem;
  font-size: larger;
  background-color: #e5e9f2;
  box-shadow: inset 0px 0px 10px #21233c;
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 1rem;
  border: solid 2px #285a9f;
  color: #285a9f;
}

#maleButton {
  border-radius: 35px 0px 0px 5px;
}

#otherButton {
  border-radius: 0px 35px 5px 0px;
}

Button:active {
  color: #aa0000;
  background-color: chocolate;
  
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}